#landing {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;

  .cover {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  h1 {
    font-size: 3rem;
  }

  div {
    position: absolute;
    left: 10%;
    bottom: 10%;
    p {
      font-weight: bold;
      font-size: 1.5rem;
      &::before {
        content: "ɤ ";
      }
    }

    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      text-decoration: underline;
      font-size: 1.5rem;
    }
  }

  & > * {
    z-index: 1;
  }
}
