@mixin scrollbar() {
  &::-webkit-scrollbar {
    height: 30px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-top: 8px;
    border-bottom: 8px;
    border-left: 8px;
    border-right: 8px;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    background-clip: padding-box;
    border-radius: 20rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $color-primary-alt;
  }
}
