@import "scss/colors";
@import "scss/scrollbar";
@import "scss/bastine";
@import "scss/navigation";
@import "scss/landing";
@import "scss/sadrzaj";

html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
